<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Global webpage for recipes</h1>
        <p>add comments to this recipe you found online</p>
    </div>

    You entered the following...<br>

    The URL was: <%= url %><br>
    The comments were: <br> <%= coms %>

<%- include('bootfooter') -%>
