<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Global webpage for recipes</h1>
        <h2>Enter your favorite dinner dish!</h2>
    </div>

    You entered the following...<br>

    The dish you entered was: <%= dish %><br>
    The comments were: <br> <%= coms %>


    <br><br><br>
    <img src="https://media.giphy.com/media/12uXi1GXBibALC/giphy.gif"
    alt = "YUM!">

<%- include('bootfooter') -%>
